@import '../../styles/variables.scss';

.sidebar {
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  transform: translateX(-100%);
  transition: 0.3s;
  width: 300px;

  @include viewport-is(mobile) {
    width: 100%;
  }

  &-open {
    transform: translateX(0);
  }

  &-close {
    
  }

  &-menu {
    margin: 30px 0 0;

    li {
      a {
        display: block;
        padding: 10px 15px;
        text-decoration: none;

        &:hover {
          background: rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
}

.modal {
  background: #fff;
  display: flex;
  flex-flow: column;
  left: 50%;
  max-height: 80%;
  max-width: 80%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 800px;

  &-body {
    margin: 35px 0 0;
    overflow: auto;
    padding: 20px 30px;
  }

  &-close {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    padding: 0;
    right: 5px;
    position: absolute;
    top: 5px;
  }

  &-overlay {
    background: rgba(0, 0, 0, 0.2);
    bottom: 0;
    // display: none;
    transition: 0.3s;
    transform: translateX(-100%);
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  &-open {
    transform: translateX(0);
  }
}
